{% extends 'base.html' %} {% block content %}
<div class="container m-4">
<h1>BOOK LISTING</h1>
<div class="d-flex flex-wrap">
{% for i in books %}
<div class="card m-2" style="width: 18rem;">
    <h5 class="card-header">#{{i.id}}</h5>
    <div class="card-body">
      <h5 class="card-title">{{i.name}}</h5>
      <p class="card-text">Author:{{i.author}}</p>
      <p class="card-text">Price:{{i.price}}</p>
      <!-- <a href="#" class="btn btn-primary">Edit</a> -->
      <!-- <a href="#" class="btn btn-danger">Delete</a> -->
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}
